<% layout('./layout/base') %>

<div class="row">
  <h1 class="text-center">Edit camp</h1>
  <div class="col-6 offset-3">
    <form action="/camps/<%=camp._id%>?_method=PUT" method="POST" class="validated-form" enctype="multipart/form-data" novalidate>
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="camp[title]" value="<%=camp.title %>" required>
        <div class="valid-feedback">
          valid
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="camp[location]" value="<%=camp.location %>" required>
        <div class="valid-feedback">
          valid
        </div>
      </div>

      <div class="mb-3">
        <div class="form-file custom-file">
          <input type="file" class="form-file-input" id="image" name="image" multiple>
          <label class="form-file-label" for="image">
            <span class="form-file-text custom-file-label">Add more image(s)...</span>
            <span class="form-file-button">Browse</span>
          </label>
        </div>
      </div>

      <div class="mb-3">
        <% camp.images.forEach(function(img, i) {  %>
        <img src="<%=img.thumbnail%>" class="img-thumbnail rounded-3" alt="">
        <div class="form-check-inline">
          <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
        </div>
        <label for="image-<%=i%>">Delete?</label>
        <% })%>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">camp Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="camp[price]" value="<%=camp.price %>" required>
          <div class="valid-feedback">
            valid
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="camp[description]" required><%= camp.description%></textarea>
        <div class="valid-feedback">
          valid
        </div>
      </div>



      <div class="mb-3">
        <button class="btn btn-info">Update camp</button>
      </div>
    </form>
    <a href="/camps/<%= camp._id%>">Back To camp</a>
  </div>
</div>