<% layout('./layout/base') %>
<link rel="stylesheet" href="/stylesheets/stars.css">


<div class="row mt-3">
  <div class="col-6">

    <div id="campCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% camp.images.forEach((img, i) => {  %>
        <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
          <img src="<%= img.url%>" class="d-block w-100" alt="">
        </div>
        <% }) %>

      </div>
      <% if(camp.images.length > 1) {%>
      <a class="carousel-control-prev" href="#campCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#campCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <% } %>
    </div>

    <div class="card mb-3">
      <div class=" card-body">
        <h5 class="card-title"><%= camp.title%></h5>
        <p class="card-text"><%= camp.description%></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= camp.location%></li>
        <li class="list-group-item ">submitted by - <%= camp.author.username%></li>
        <li class="list-group-item">$<%= camp.price%>/night</li>
      </ul>

      <% if (currentUser && camp.author.equals(currentUser._id)) { %>
      <div class="card-body">
        <a class="card-link btn btn-info" href="/camps/<%=camp._id%>/edit">Edit</a>
        <form class="d-inline" action="/camps/<%=camp._id%>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <% } %>

      <div class="card-footer text-muted">2 days ago</div>
    </div>
  </div>

  <div class="col-6">
    <div id='map' style='width: 100%; height: 300px;'></div>

    <% if (currentUser) { %>
    <h2>Leave a Review</h2>

    <form action="/camps/<%= camp._id %>/reviews" method="post" class="mb-3 validated-form" novalidate>

      <fieldset class="starability-basic">
        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>


      <div class="mb-3">
        <label class="form-label" for="body">Review</label>
        <textarea class="form-control" name="review[body]" id="body" cols="3" rows="5" required></textarea>
        <div class="valid-feedback">looks fine!!</div>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <% } %>

    <% for( let review of camp.reviews) { %>
    <div class="card mb-3">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted"> By <%= review.author.username %> </h6>
        <p class="starability-result" data-rating="<%= review.rating %>">
          Rated: <%= review.rating %> stars
        </p>

        <p>Review: <%= review.body %></p>
        <% if (currentUser && camp.author.equals(currentUser._id)) { %>
        <form action="/camps/<%=camp._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
          <button class="btn btn-sm btn-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>
<!-- <h1>this is the show page</h1> -->

<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const camp = <%- JSON.stringify(camp) %>
</script>

<script src="/js/showPageMap.js"></script>